/* calendar css file */
footer{
  width:100%;
  text-align: center;
  display:inline;
  list-style-type: none;
  padding-left: 10px;
}

h1 {
  text-align: center;
}

#button-next {
  margin: 20px;
  float:right;
  padding-top:5px;
  padding-bottom: 5px;
}

#button-prev {
  margin: 20px;
  padding-top:5px;
  padding-bottom: 5px;
}

div.container {
  text-align: center;
  width:98%;
  margin:1%;
}

div#eventform {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

table#addevent {
  text-align:center;
  font-weight:bold;
  margin-left:auto;
  margin-right:auto;
}

table#addevent td {
  padding: 0em 2.5em
}

table.user_events {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border:2px solid black;
	width:800px;
}

table.user_events th {
	border-collapse:collapse;
	border:1px solid black;
	padding: .3em .5em;
	background-color: #EAEAEA;
}

table.user_events td {
	height: 200px;
	border-collapse:collapse;
	border:1px solid black;
}

table.footer_table {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

table.footer_table th {
	padding: 0em 5em;
}

table.calendar {
  text-align:center; 
  margin-left:auto; 
  margin-right:auto; 
  width:700px;
}

table.calendar td {
  text-align: left;
  width:100px;
  height: 200px;
}

table.calendar th {
  text-align: center;
}

table.calendar tr{
	text-align:left;
}